html {
  font-size: 62.5%; /* 62.5% of 16px is 10px */
}

body {
  font-size: 1.6rem; /* 1.6 * 10px = 16px */
  /* background-color: #aec8db; */
  background-color: #8cb8d7;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

h1 {
  font-family: var(--font-geist-sans), monospace;
}